@import 'tailwindcss/base';

@layer base {
  :root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --transition-duration: 0.3s;
  }

  .dark {
    --bg-color: #1a202c;
    --text-color: #ffffff;
  }

  html {
    @apply text-neutral-800;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--transition-duration), color var(--transition-duration);
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--transition-duration), color var(--transition-duration);
  }
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';